<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ape4_B -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ape4_B.presentation.Ape4_BModelWizardID"
            name="%_UI_Ape4_BModelWizard_label"
            class="ape4_B.presentation.Ape4_BModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ape4_BModelFile.gif">
         <description>%_UI_Ape4_BModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ape4_B -->
      <editor
            id="ape4_B.presentation.Ape4_BEditorID"
            name="%_UI_Ape4_BEditor_label"
            icon="icons/full/obj16/Ape4_BModelFile.gif"
            extensions="ape4_b"
            class="ape4_B.presentation.Ape4_BEditor"
            contributorClass="ape4_B.presentation.Ape4_BActionBarContributor">
      </editor>
   </extension>

</plugin>
