<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modeloPrueba -->
      <package
            uri="http://www.example.org/modeloPrueba"
            class="modeloPrueba.ModeloPruebaPackage"
            genModel="model/modeloPrueba.genmodel"/>
   </extension>

</plugin>
