<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ape4_B -->
      <package
            uri="http://www.example.org/ape4_B"
            class="ape4_B.Ape4_BPackage"
            genModel="model/ape4_B.genmodel"/>
   </extension>

</plugin>
